body {
  background-color: rgb(28, 24, 40);
  color: white;
}

.nav-ul {
  list-style-type: none;
}

.nav-li {
  float: left;
  margin-right: 10px;
  /* border: 2px solid black; */
  padding: 7px;
  background-color: rgb(37, 65, 78);
  border-radius: 5px;
}

.nav-container {
  border-bottom: 3px solid black;
  padding: 10px;
  top: 0;
  left: 0;
  position: fixed;
  margin-bottom: 15px;
  width: 100%;
  background-color: rgb(31, 36, 49);
}

.heading-container {
  margin-top: 3em;
}
